
.headerContainer{
  height: 6rem;
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  transition: 0.8s;
  background-color: transparent;
  z-index: 10;
}
.headerContainerB{
  height: 6rem;
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 10;
  transition: 0.8s;
  background-color: rgba(0,0,0, 0.45);
}

.headerContent{
  max-width: 1120px;
  min-width: 348px;
  height: 6rem;
  margin: 0 auto;
  padding: 0 2rem;

  display: flex;
  align-items: center;

  img{
    cursor: pointer;
  }

  nav{
    margin-left: 5rem;
    height: 6rem;

    a{
      display: inline-block;
      position: relative;
      padding: 0 0.5rem;
      height: 6rem;
      line-height: 6rem;
      color: #fff;
      transition: color 0.4s;

      & + a {
        margin-left: 2rem;
      }

      &:hover{
        color: #2288;
      }

      &.active{
        color: var(--yellow-500);
        font-weight: bold;
      }

    }
  }
}
.readyButton{
  margin-left: auto;
  height: 3rem;
  border-radius: 3rem;
  background: var(--blue-900);
  border:0;
  padding: 0 1.5rem;
  display: flex;
  align-items: center;
  justify-content: center;
  color: var(--white);
  font-weight: bold;
  transition: filter 0.2s;

  &:hover{
    filter: brightness(1.1)
  }
}

@media (max-width: 870px){
  .headerContainer{
    height: 13rem;
    padding: 0.5rem 0;
  }

  .headerContent{
    display: flex;
    flex-direction: column;

    nav{
      display: block;
      margin-left: auto;
      margin-right: auto;
    }

    .readyButton{
      display: none;
    }
  }
}
